// Custom Buttons
// -------------

// Usage: add the classes "button button-color" to the desired element,
// where "color" is one of the defined colors
// Example: <button class="button button-purple">Click me</button>

.button {
  display: inline-block;
  padding: 14px 44px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1.6;
  border-style: solid;
  border-width: 1px;
  border-radius: $border-radius-btn-small;
  @include user-select(none);
  @include transition(color 0.4s, background-color 0.4s, border-color 0.4s, box-shadow 0.4s);
  &:hover,
  &:active,
  &:focus {
    @include transition(color 0.35s, background-color 0.35s, border-color 0.35s, box-shadow 0.35s);
  }
  &:hover {
    text-decoration: none;
  }
  
  // Blue
  &.button-blue {
    color: $white;
    background-color: $blue;
    border-color: $blue;
    &:hover,
    &:active,
    &:focus {
      color: $white;
      background-color: $darker-blue;
      border-color: $darker-blue;
    }
  }
}
