// Primary Nav
// ------------

header {
  .navbar {
    @include align-items(stretch);
    padding: 0;
    height: 100px;
    
    // Navbar toggler button
    .toggle-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: auto 0 auto auto;
      width: 50px;
      height: 50px;
      color: $white;
      border: none;
      background-color: transparent;
      
      @include position(fixed, $right: 15px, $top: 25px);
      z-index: 999;
      
      div {
        @include flex-basis(auto);
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 3px;
      }

      span {
        font-size: 75px;
        line-height: 0.6;
      }

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
    
    // Wrap containing darkened area on mobile and the navigation menu
    .navigation-wrap {
      @include flexbox();
      @include position(fixed, $top: 0, $left: 0);
      @include transform(translateX(105%));
      width: 100vw;
      height: 100vh;
      opacity: 0;

      @include transition(
        opacity 0.3s,
        transform 0.3s ease
      );

      @include media-breakpoint-up(md) {
        z-index: 1;
      }

      @media screen
      and (min-width: 992px)
      and (max-width: 1349px) {
        padding-right: 40px;
      }

      &.opened {
        opacity: 1;
        z-index: 1000;
        @include transform(translateX(0));
      }

      // Desktop
      @include media-breakpoint-up(lg) {
        margin: 0 0 0 auto;
        @include transform(translateX(0));
        position: static;
        width: auto;
        height: auto;
        opacity: 1;
      }

      // "Empty space" - darkened area
      .empty-space {
        @include flex-grow(2);
        background-color: rgba(0, 0, 0, 0.6);
        @include media-breakpoint-up(lg) {
          display: none; 
        }
      }
      .inner-wrap {
        @include flexbox();
        @include flex-direction(column);
        
        // margin: -70px 0 0;
        // padding: 70px 0 0;
        background-color: $white;
        width: 40%;
        min-width: 260px;
        overflow-y: scroll;
        // Desktop
        @include media-breakpoint-up(lg) {
          margin: 0;
          padding: 0;
          background-color: transparent;
          width: auto;
          min-width: auto;
          overflow-y: visible;
        }
        // Mobile Nav Toggler
        .toggle-nav {
          color: $blue;
          @include position(fixed, $top: 15px, $right: 15px);
          z-index: 1010;
          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
        // Navigation menu container
        .navigation-container {
            padding: 70px 0 15px;
          @include media-breakpoint-up(lg) {
            padding: 0;
            height: 100%;
          }
          // Navbar ul
          .primary-navigation {
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(stretch);
            margin: 0;
            padding: 0;
            height: 100%;
            list-style: none;

            // Desktop
            @include media-breakpoint-up(lg) {
              @include flex-direction(row);
            }

            >li {
              @include flexbox();
              @include justify-content(flex-start);
              padding: 0;
              position: relative;

              // Desktop
              @include media-breakpoint-up(lg) {
                @include justify-content(center);
                @include align-items(center);

                // Hover effect
                &::after {
                  content: " ";
                  @include position(absolute, $right: 30%, $bottom: 0, $left: 30%);
                  border-bottom: 2px solid $white;
                  @include transform(scaleX(0));
                  @include transition(transform 0.3s ease);
                }
                &:hover,
                &:focus {
                  &::after {
                    @include transform(scaleX(1));
                  }
                }
              }
            }

            // Active links (current page) - mobile
            .current_page_item,
            .current-menu-item {
              >a {
                @include media-breakpoint-between(xs, sm) {
                  color: $blue;
                }
              }
            }
            // Active links (current page) - Desktop
            .current-menu-item,
            .current_page_item,
            .current_page_parent,
            .current_menu_parent {
              @include media-breakpoint-up(lg) {
                a {
                  background-color: unset;
                }
                &::before {
                  content: "";
                  @include position(absolute, $right: 30%, $bottom: 0, $left: 30%);
                  border-bottom: 2px solid $white;
                }
              }
            }

            // Dropdown toggle link
            .menu-item-has-children {
              @include flex-direction(column);
              position: relative;
              @include media-breakpoint-up(lg) {
                @include flex-direction(row);

                a {
                  &::after {
                    content: "+";
                    margin-left: 5px;
                    color: $white;
                  }
                }
              }

              // Dropdown menu container 
              .sub-menu {
                @include flexbox();
                @include flex-direction(column);
                margin: 0;
                padding: 0;
                list-style: none;

                // Dropdown links mobile
                a {
                  padding: 8px 32px;
                  @include media-breakpoint-up(lg) {
                    padding: 8px;
                  }
                }
                // Desktop dropdown
                @include media-breakpoint-up(lg) {
                  padding: 8px 0;
                  @include position(absolute, $top: 100%, $left: -100%);
                  width: 370px;
                  width: max-content;
                  background-color: $white;
                  border: 1px solid rgba(6,6,6,0.2);
                  border-top: none;
                  border-radius: 0 0 4px 4px;
                  @include transform(scale(0));
                  @include transition(transform 0.3s);
                  @include transform-origin(top);

                  &::before {
                    content: "";
                    @include position(absolute, $bottom: 100%);
                    height: 10px;
                    width: 100%;
                  }

                  li {
                    padding: 0 0 0 16px;
                    position: relative;

                    @include media-breakpoint-up(lg) {
                      padding: 0 8px; 
                    }

                    &:not(.current-menu-item) {
                      &:before {
                        content: "";
                        @include position(absolute, $top: 10%, $bottom: 10%, $left: 8px);
                        background-color: $grey;
                        width: 2px;
                        @include transform(scaleY(0));
                        @include transition(transform 0.3s ease);
                      }
                      &:hover,
                      &:focus {
                        &:before {
                          @include transform(scaleY(1));
                        }
                      }
                    }
                  }
                  // Dropdown Links
                  a {
                    color: $grey;
                  }
                  // Highlight current page
                  .current-menu-item {
                    font-weight: bold;
                    &::before {
                      content: "";
                      @include position(absolute, $top: 10%, $bottom: 10%, $left: 8px);
                      width: 2px;
                      background-color: $grey;
                    }
                  }
                }
              }
              // Show dropdown on hover
              &:hover,
              &:focus {
                .sub-menu {
                  @include transform(scale(1));
                }
              }
            }

            // Links
            a {
              display: block;
              padding: 8px 16px;
              width: 100%;
              color: $grey;
              font-size: 15px;
              line-height: 1.3;
              text-decoration: none;
              white-space: break-spaces;

              // Focus effect
              &:focus {
                background-color: $dark-grey;
              }

              // Desktop
              @include media-breakpoint-up(lg) {
                color: $white;
                &:focus {
                  background-color: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Highlight correct menu item for ving project CPT
.post-type-archive-ving_project,
.single-ving_project,
.tax-kategorija_projekta {
  // This is project in menu
  .menu-item-208,
  .menu-item-209 {
    &::before {
      content: "";
      @include position(absolute, $right: 30%, $bottom: 0, $left: 30%);
      border-bottom: 2px solid $white;
    }
  }

  // This is blog in menu
  .menu-item-91,
  .menu-item-87 {
    &::before {
      content: none !important;
    }
  }
}

.body-fixed {
  position: fixed;
  @include media-breakpoint-up(lg) {
    position: static;
  }
}