// Pagination
// ------------

.pagination {
  @include flexbox();
  @include justify-content(center);
  margin: 60px 0 30px;
  width: 100%;

  .page-numbers {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    margin: 0 14px 0 0;
    width: 36px;
    height: 36px;
    color: $grey;
    background-color: $pagination-inactive;
    border-radius: $border-radius-small;
    text-decoration: none;

    &.current {
      color: $white;
      background-color: $grey;
    }

    &.next {
      margin-right: 0;
    }
  }

  .blog & {
    margin: 30px 0 45px;
  }
}
