// Project Single Page
// ------------

.project-single {
  .about-project {
    margin-bottom: 30px;

    h2 {
      margin-bottom: 16px;
    }

    > div:nth-of-type(2) {
      margin-top: 10px;
    }

    .row {
      > div {
        margin-bottom: 5px;

        @include media-breakpoint-up(sm) {
          margin-bottom: 15px;
        }

        @include media-breakpoint-up(md) {
          margin-bottom: 30px;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 80px;
        }
      }
      p {
        margin: 0 0 9px;

        &:first-of-type {
          margin: 0 0 4px;
        }

        @include media-breakpoint-up(sm) {
          &,
          &:first-of-type {
            margin: 0 0 9px;
          }
        }
      }

      a {
        color: currentColor;
      }
    }
  }

  .content {
    p {
      color: $paragraph;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.8;
    }
  }
}
