// Blog Post Card
// ------------

.post-card {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-end);
  padding: 20px 20px 35px;
  min-height: 220px;
  height: 219px; // for IE
  border-radius: $border-radius;
  background: $blog-sidebar-border;
  background-position: center;
  text-decoration: none;
  @include transition(transform 0.3s);

  @include media-breakpoint-up(md) {
    min-height: 300px;
    height: 299px; // for IE
  }

  @include media-breakpoint-up(lg) {
    min-height: 380px;
    height: 379px; // for IE
  }

  @include media-breakpoint-up(xl) {
    min-height: 450px;
    height: 449px; // for IE
  }

  &:hover,
  &:focus {
    text-decoration: none;
    @include transform(translateY(-10px));
    @include transition(transform 0.3s);
  }

  .home & {
    margin: 30px 0 0;

    @include media-breakpoint-up(lg) {
      margin: 7px 0 0;
    }
  }

  .blog &,
  .archive & {
    margin: 10px 0 30px;
  }

  .info {
    @include flexbox();
    @include flex-direction(column);

    .post-taxonomy {
      margin-bottom: 6px;

      ul {
        @include flexbox();
        @include flex-direction(column);
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          @include flex(1 1 auto);
        }
      }
    }

    .post-title {
      margin-bottom: 11px;
    }

    .post-info {
      p {
        margin-bottom: 0;

        span {
          font-style: italic;
          text-transform: capitalize;

          &:visited {
            color: $white;
          }
        }
      }
    }
  }
}
