// Search Form
// ------------

.search-form {
  $border: 2px;

  background-color: $light-blue;
  border: $border solid $light-blue;
  border-radius: 100vh;
  width: $search-size;
  height: $search-size;
  position: relative;
  z-index: 3;
  overflow: hidden;
  @include box-shadow($hl: 0, $vl: 6px, $br: 5px, $color: rgb(32,43,53), $opacity: 0.12);
  @include transition(width 0.5s, background-color 0.01s ease 0.4s);

  input {
    padding: 0 $search-size 0 10px;
    @include position(absolute, $top: -$border, $bottom: -$border, $left: 0);
    z-index: 1003;
    line-height: $search-size;
    background-color: transparent;
    border: 0;
    border-radius: 100vh;
    opacity: 0;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: $white;
      opacity: 0;
    }
  }
  
  button {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include position(absolute, $right: -$border, $top: -$border);
    z-index: 1002;
    margin-left: auto;
    padding: 0;
    width: $search-size;
    height: $search-size;
    font-size: 12px;
    background-color: $white;
    border: 0;
    border-radius: 100vh;
    cursor: pointer;
    @include transition(color 0.2s, background-color 0.2s);

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      width: $search-size/4 - 2;
      height: $search-size/4 - 2;
      border-radius: 40px;
    }

    &.disabled {
      background-color: $light-blue;
    }

    &:not(.disabled) {
      &::before {
        animation: pulse 2s ease-out infinite;
      }
      svg {
        path {
          fill: $light-blue;
        }
      }
    }

    svg {
      overflow: visible;
      background: transparent;
      fill: transparent;
      path {
        fill: white;
      }
    }
  }

  // Expanded search bar
  &:focus-within {
    width: 100%;
    background: white;
    @include transition(width 0.3s, background-color 0.01s ease 0.01s);

    input {
      width: 100%;
      opacity: 1;
      cursor: initial;
      z-index: 1001;

      &::placeholder {
        color: $black;
        opacity: 1;
      }
    }

    button {
      &[disabled] {
        cursor: not-allowed;
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $light-blue;
  }

  50% {
    box-shadow: 0 0 0 $search-size/2 rgba($light-blue, 0.2);
  }

  100% {
    box-shadow: 0 0 0 $search-size/2 rgba($light-blue, 0);
  }
}
