// Fix layout issues when logged in
// -------------

.admin-bar {
  header {
    top: 46px !important;
    
    @media screen
    and (min-width: 783px) {
      top: 32px !important;
    }
    .navbar {
      .toggle-nav {
        top: 70px !important;
    
      @media screen
      and (min-width: 783px) {
        top: 55px !important;
      }
      }
    }
  }
}
 