// Variables
// ------------

// Colors
// ------------
$black: #5b606a;
$grey: #304b5a;
$gray: $grey;
$lighter-grey: #e9e9e9;
$lighter-gray: $lighter-grey;
$light-grey: #f9f9f9;
$light-gray: $light-grey;
$dirty-grey: #f3f3f3;
$dirty-gray: $dirty-grey;
$dark-grey: #a8a8a8;
$dark-gray: $dark-grey;
$darkish-grey: #828282;
$darkish-gray: $darkish-grey;
$darker-grey: #858585;
$darker-gray: $darker-grey;
$white: #ffffff;
$blue: #0095da;
$darker-blue: #027db6;
$light-blue: #56ccf2;
$yellow: #f2cd4c;
$tomato: #ff6666;
$red: #ff5151;

// Element specific colors
$header-border: rgba(255, 255, 255, 0.2);
// horizontal rule
$hr: rgba(168, 168, 168, 0.4);
// Sections on pages
$section-color: rgba(23, 52, 68, 0.05);
// Border color of sidebar on blog pages
$blog-sidebar-border: #c6c6c6;
// Pagination inactive link
$pagination-inactive: #e4e4e4;
// Paragraph about us
$paragraph: #969da3;
// Testimonial Name
$testimonial: #222222;
// Project Nav Tabs border bottom
$pr-nav: #e7e7e7;
// Telephone number grey
$tel-grey: #6d737e;

// Misc
// ------------
$border-radius-small: 3px;
$border-radius: 5px;
$border-radius-project: 9px;
$border-radius-card: 10px;
$border-radius-telephone: 20px;
$border-radius-btn-small: 30px;
$border-radius-btn-big: 53px;

// Header hight
$header-height: 100px;
// Height of the backgorund image on single pages
$single-bg-image-height: 380px;
// Height of the container which holds the heading on single pages
$single-page-heading-height: $single-bg-image-height - $header-height;
// Search size
$search-size: 40px;

// Bootstrap Grid Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
