// About Us Page
// ------------

.page-id-62 {
  .intro {
    h2 {
      margin-bottom: 30px;
      font-size: 38px;

      @include media-breakpoint-up(md) {
        font-size: 48px;
      }
    }

    p {
      margin-bottom: 30px;

      @include media-breakpoint-up(md) {
        margin-bottom: 80px;
      }
    }
  }
  .vision {
    .vis-card {
      padding: 40px 35px 47px;
      @include box-shadow($hl: 0px, $vl: 4px, $br: 39px, $color: rgb(68, 82, 89), $opacity:  0.09);
      
      h3 {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
  .team {
    padding: 60px 0;

    @include media-breakpoint-up(md) {
      padding: 160px 0 100px;
    }

    h3 {
      margin-bottom: 40px;
    }
  }
  .testimonials {

    h2 {
      margin-bottom: 40px;
    }

    .testimonial {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);

      .quote {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        padding: 20px 0;
        background-color: $blue;
        border-radius: $border-radius-card;
        min-height: 200px;
        height: 199px; //for IE

        p {
          margin: 0 20%;
          color: $white;
          text-align: center;
          font-size: 16px;
          line-height: 1.6;
        }
      }

      svg {
        margin: 47px 0 20px;
      }

      .said-by {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        font-family: "Kanit", sans-serif;

        img {
          margin-bottom: 11px;
          border: 2px solid $blue;
          border-radius: 50%;
        }

        h4 {
          color: $testimonial;
          font-size: 18px;
          line-height: 1.5;
          letter-spacing: 0.03em;
        }

        h5 {
          margin-bottom: 40px;
          color: $blue;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.03em;
        }
      }
    }
  }
}
