// Page Style shared across pages, 
// blog, blog single, project archive
// ------------

.page,
.blog,
.single,
.archive,
.error404,
.search {
  main {
    .heading {
      @include flexbox();
      @include align-items(center);
      margin: -100px 0 100px;
      padding: 200px 0 0;
      background: url("../images/background.jpg");
      background-repeat: no-repeat;
      background-position: 40% 50%;

      @include media-breakpoint-up (md) {
        background-position: center 50%;
      }

      h1 {
        margin-bottom: 110px;
        font-size: 38px;
        word-break: break-word;

        @include media-breakpoint-up(sm) {
          font-size: 48px;
        }
      }
    }
  }
}
