// Header
// ------------

header {
  @include flexbox();
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid $header-border;
  @include position(fixed, $top: 0, $right: 0, $left: 0);
  z-index: 1000;
  @include transition(background-color 0.3s);

  &.scrolled {
    background-color: rgba(#5a606e, 0.85);
  }

  .container {
    @media screen
    and (min-width: 768px)
    and (max-width: 1464px) {
      margin-left: 0;
    }
  }

  .logo {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-shrink(0);
    background-color: $header-border;
    height: 100px;
    width: 130px;
    float: left;

    @include media-breakpoint-up(lg) {
      width: 160px;
    }

    @media screen
    and (min-width: 1465px) {
      margin-right: -160px;
    }
  }

  .header-left {
    @include flexbox();
    @include align-items(center);

    .telephone {
      box-sizing: content-box;
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      margin: 0 19px 0 0;
      width: 40px;
      height: 40px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: -0.03em;
      color: $tel-grey;
      border-radius: $border-radius-telephone;
      position: relative;
      z-index: 2;
      background-color: rgba($white, 0.9);
      overflow: hidden;
      @include box-shadow($hl: 0px, $vl: 6px, $br: 5px, $color: rgb(0, 0, 0), $opacity: 0.12);
      @include transition(color 0.3s, background-color 0.01s ease);
      transition-delay: background-color;

      @include media-breakpoint-up (sm) {
        width: 150px;
      }

      @include media-breakpoint-up(xl) {
        padding: 0 8px;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: $tomato;
        @include transform(scale(0));
        @include transition(transform 0.3s);
        border-radius: 50%;
        z-index: -1;

        @include media-breakpoint-up (sm) {
          top: -65px;
          left: 0;
          width: 170px;
          height: 170px;
        }
      }
      
      svg {
        @include media-breakpoint-up (sm) {
          margin-right: 7px;
        }

        path {
          fill: $red;
          @include transition(fill 0.3s);
        }
      }

      // number
      span {
        display: none;

        @include media-breakpoint-up (sm) {
          display: block;
        }
      }

      // Hover and focus effect
      &:hover,
      &:focus {
        text-decoration: none;
        color: $white;
        background-color: $tomato;
        @include transition(color 0.3s, background-color 0.01s ease 0.18s);

        &::after {
          @include transform(scale(1.1));
        }

        svg {
          path {
            fill: $white;
          }
        }
      }
    }

    // Language widget
    .trp-language-switcher {
      margin: 0;
      @include box-shadow($hl: 0px, $vl: 6px, $br: 5px, $color: rgb(0, 0, 0), $opacity: 0.12);
      border-radius: $border-radius-telephone;
      > div {
        @include flexbox();
        @include align-items(center);
        padding: 0;
        border-color: $tomato;
        border-radius: $border-radius-telephone;
        background: $tomato;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.05em;
        position: relative;
        z-index: 2;
        width: 54px !important;

        // Caret
        &::after {
          content: '';
          @include position(absolute, $top: 18px, $right: 11px);
          width: 0; 
          height: 0; 
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 4px solid $white;
        }

        a {
          padding: 10px 14px;
          color: $white;
          text-decoration: none;
          user-select: none;

          &:hover,
          &:focus {
            background: $tomato;
          }
        }
      }
    }

    label {
      display: none;
    }

    select {
      color: $white;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: -0.05em;
      border: none;
      border-radius: $border-radius-telephone;
      @include box-shadow($hl: 0px, $vl: 6px, $br: 5px, $color: rgb(0, 0, 0), $opacity: 0.12);
      height: 40px;
    }
  }

  
  .search-wrap {
    @include flexbox();
    min-width: 250px;
    @include position(absolute,$top: 30px, $right: 64px);

    &.opened {
      @include media-breakpoint-up(lg) {
        &::before {
          content: '';
          position: absolute;
          top: -31px;
          bottom: -31px;
          left: -16px;
          width: 100%;
          z-index: 2;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      right: 0;
    }

    .header-right-widget {
      @include flexbox();
      @include justify-content(flex-end);
      @include align-items(center);
      margin: 0 15px 0 auto;
      width: 100%;

      @media screen
      and (min-width: 1400px) {
        margin-right: 50px;
      }
    }
  }
}
